* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding-bottom: 1px;
}

body {
    display: flex;
    flex-direction: row;
    font-size: 10px;
}

nav {
    background-color: rgb(220, 218, 218);
    height: 100vh;
    width: 20vw;
    position: fixed;
}

nav h1 {
    background-size: contain;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    display: flex;
    align-self: center;
    justify-items: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(228, 85, 157);
    font-size: 2.5em;    
    width: 100%;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding-left: 20vw;
}

.section {
    min-height: 100vh;
    width: 100%;
}

.intro, .syntax, .rules, .ops {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-header, .syntax-header, .rules-header, .ops-header {
    font-size: 2.5em;
    color: rgb(228, 85, 157);
}

.info, .syntax-info, .rules-info, .ops-info {
    color: rgb(48, 47, 47);
    font-size: 2em;
    font-weight: 500;
    padding: 0 20%;
    line-height: 25px;
    letter-spacing: .6px;
}

h3, h4 {
    color: rgb(228, 85, 157);
}

.syntax {
    background-color: rgb(255, 254, 254);
}

.rules {
    background-color: rgb(255, 254, 254);
}

.ops {
    background-color: rgb(255, 254, 254);
}

@media (max-width: 720px) {
    *{
        padding-bottom: 0;
    }

    nav {
        width: 40vw;
    }

    /* .section {
        min-height: 130vh;
    } */

    main {
        padding-left: 40vw;
    }

    .intro-header, .syntax-header, .rules-header, .ops-header {
        font-size: 2em;
    }

    .info, .syntax-info, .rules-info, .ops-info {
        font-size: 1.1em;
        padding: 0 10%;
    }   
}